/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header {
    background: no-repeat lightgrey url(/images/cliff_ocean.jpg);
    background-size: cover;
    /* background-size: 100%; */
    /* background-position: top center; */
}
#activities header {
    background: no-repeat lightgrey url(/images/runfly.jpg);
    background-size: cover;
    /* background-size: 100%; */
}
#contact header {
    background: no-repeat lightgrey url(/images/cliff_rock.jpg);
    background-size: cover;
    /* background-size: 100%; */
}
#cliffs header {
    background: no-repeat lightgrey url(/images/forest_cliff.jpg);
    background-size: cover;
    /* background-size: 100%; */
}

/* ---------------------------------- Home Page ---------------------------------- */

/* Navigation */
#nav-container {
    width: 690px;
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding: 0 26px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888;
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background: #9ed034;
    border: none;
}
.main-menu ul li.active a {
    color: #fff !important;
}

#timeofday {
    background: linear-gradient(0deg, rgba(251,215,139,1) 0%, rgba(118,213,245,1) 75%, rgba(0,212,255,1) 100%); 
    height: 25px;
    text-align: center;
    padding: 25px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
    font-weight: 600;
}

#clock {
    color: #125688;
}

/* Main */
main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
main h1 {
    color: #9ed034;
    /* font-weight: 800; */
}

/* Partners */
section {
    width: 100%;
    background-color: #4288C3;
}
section #partners {
    /* width: 1200px; */
    padding: 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #partners .partner img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    width: 100%;
    /* height: 155px; */
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {            /*Forces footer back to bottom by clearing positioning*/
    clear: both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    /* width: 15px; */
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook{
    background: #3b5998;
    color: white;
    width: 44px;
}
footer #nondisclaimer .social .fa-twitter{
    background: #55acee;
    color: white;
}
footer #nondisclaimer .social .fa-instagram{
    background: #125688;
    color: white;
}




/* ---------------------------------- Cliffs Page ---------------------------------- */
#cliff-list-images {
    /* text-decoration: none; */
    /* margin: 0 auto; */
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
}

#cliff-list-images .cliff-img {
    display: inline-block;
    position: relative;
    margin: 20px;
}

#cliff-list-images .cliff-img img {
    /* text-decoration: none; */
    width: 600px;
}

#cliff-list-images .cliff-img .caption{
    font-weight: bold;
    position: absolute;
    background-color: #852b1b;
    color: white;
    width: 600px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}


#cliff-info .col {
    /* max-width: 46%;
    margin: 0 10px;  */
} 





/* ---------------------------------- Activities Page ---------------------------------- */
table {
    width: 1000px;
    margin: 4em auto 0 auto;
}
caption {
    background: #852b1b;
    height: 40px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}
thead {
    background: #bde1ff;
}
tbody {
    background: #eeffe6;
    text-align: center;
}
th, td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852b1b;
}
th:first-child {
    width: 125px;
    height: 50px;
    background: #4977d1;
    color: #fff;
}
td:first-child {
    font-weight: bold;
    background: #bde1ff;
}

#activities main #displaySelected {
    visibility: hidden;
    margin: 0 auto;
    width: 600px;
    border: 2px solid #9ed034;
    padding: 0.75em;
}

#activities main #displaySelected #result, #activities main #displaySelected #sendinfo {
    display: inline-block;
    margin: 0;
}

#activities main #result {
    min-height: 50px;
    width: 300px;
    padding: 0;
}

#activities main #result h4 {
    margin-bottom: 1em;
    font-size: 1.15em;
}

#activities main #displaySelected #sendinfo input[type="email"] {
    width: 200px;
}




/* ---------------------------------- Contact Page ---------------------------------- */
form {
    margin-top: 20px;
}

fieldset {
    border-color: #9ed034;
    padding: 2em;
}

legend {
    text-transform: uppercase;
    color: #4977d1;
    font-weight: bold;
}

.textbox label, .commentbox label {
    display: block;
    /* font-weight: bold; */
}

.textbox input {
    margin-bottom: 10px;
    width: 50%;
}

.radios, .selectmenu, .commentbox {
    margin-bottom: 10px;
}

.radios input[type="radio"] {
    width: 20px;
}

.selectmenu select {
    width: 200px;
    text-align: center;
}

.commentbox textarea {
   width: 50%;
   height: 250px;
}

form .button input {
    width: 8em;
    height: 2em;
    font-size: 1.2em;
    font-weight: bold;
    /* background-color: #4977d1; */
    color: #fff;
    border: none;
    margin-top: 1.2em;
}

form .button {

}

.button input[type="submit"] {
    /* background: #4977d1;
    border: none;
    width: 100px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    margin: 0 43%; */
    
    /* position: absolute; */
    /* margin-left: 700px; */
}

form .randomcode {
    /* padding: 10px 0; */
}

form .randomcode input {
    height: 20px;
    width: 16%;
    /* margin-right: 15px; */
}

form .randomcode #codes {
    display: inline;
    background-color: rgb(202, 202, 202);
    width: fit-content;
    padding: 12px;
    margin-left: 15px;
    /* font-weight: bold; */
}

.randomcode, .button {
    /* margin: 0 43%;    */
    text-align: right;
    padding-right: 50%;
}




/* ---------------------------------- Media Queries ---------------------------------- */

/* Medium devices (laptops/desktops, 992px and under) */
@media only screen and (max-width: 991px) {

    /* ________________ Home Page ________________ */
    #navbarContent {
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 300px;
        /* width: fit-content; */
        right: 1.7em;
        top: 8em;
    }
    
    #navbarContent .navbar-nav .nav-item {
        border-bottom: 1px solid rgba(202, 204, 202, 0.6);
    } 
    
    #navbarContent .navbar-nav .nav-item a {
        font-weight: 500;
    }

    section #partners .partner {
        margin: 0 55px;
        margin-bottom: 20px;
    }

    footer #nondisclaimer #social-div {
        background-color: white;
    }


    /* ________________ Cliffs Page ________________ */




    /* ________________ Activities Page ________________ */




    /* ________________ Contact Page ________________ */
}

/* Small devices (laptops/desktops, 768px and under) */
@media only screen and (max-width: 767px) {

    /* ________________ Home Page ________________ */
    section #partners .partner {
        margin: 0 60px;
        margin-bottom: 20px;
    }
    footer #nondisclaimer #copy-div .copy{
        float: none;
        text-align: center;
        padding: 2.5em;
    }
    footer #nondisclaimer #social-div .social {
        margin-right: 0;
        float: none;
        text-align: center;
    }



    /* ________________ Cliffs Page ________________ */


    /* ________________ Activities Page ________________ */


    /* ________________ Contact Page ________________ */
}

/* X-Small devices (laptops/desktops, 992px and under) */
@media only screen and (max-width: 575px) {

    /* ________________ Home Page ________________ */
    #cliff-info, footer #nondisclaimer {
        flex-direction: column;
    }

    section #partners .partner {
        margin: 0 125px;
        margin-bottom: 20px;
    }


    /* ________________ Cliffs Page ________________ */


    /* ________________ Activities Page ________________ */


    /* ________________ Contact Page ________________ */
}